**/node_modules/
assets/cleanup/index.js

kotlin-js-store/

/bin/
/target/

lorcana-apps/jvmApp/entitlements.plist
lorcana-apps/jvmApp/*.provisionprofile
lorcana-apps/jvmApp/*.plist
lorcana-apps/jvmApp/*.db

google-service-account.json
release.jks

app/iosApp/vendor/
app/iosApp/fastlane/report.xml

# to fix duplicated root
lorcana-apps/app-ui/src/androidMain/kotlin
lorcana-apps/app-ui/src/commonMain/resources

.env
.env.default
*.dSYM.zip
*.ipa

**/*.exec
**/*.ec

*.iml
.gradle
/local.properties
.idea/*
!.idea/fileTemplates/
!.idea/codeStyles/
!.idea/runConfigurations/
.DS_Store
/build
/captures

/gradle/dolbyio

**/build

.cxx/*

tmp/

# VS Code files, ignoring those as they could probably be in conflict with AS
.project
.classpath
.settings

# licenses

**/assets/*.csv
!**/androidTest/assets/**
**/assets/*.json

**/Pods
**/xcuserdata/
**/vendor/bundle
fastlane/

repository/

app/iosApp/fastlane/metadata/review_information/demo_password.txt

app/iosApp/fastlane/metadata/review_information/demo_user.txt

app-ui/src/androidMain/kotlin

app/shared_logic/src/commonMain/resources/MR/files/licenseReleaseReport.json
/app-ui/src/commonMain/resources/MR/files/licenseReleaseReport.json

karma.config.d/
webpack.config.d/

assets/data/foils/
assets/data/images/tfc_*
assets/data/images/d23_*
assets/data/images/rotf_*
assets/data/lorcania_images/tfc_*
assets/data/lorcania_images/d23_*
assets/data/lorcania_images/rotf_*
resources/src/commonMain/resources/MR/images/tfc_*
resources/src/commonMain/resources/MR/images/d23_*
resources/src/commonMain/resources/MR/images/rotf_*
lorcana-shared-ui/src/commonMain/resources/MR/images/tfc_*
